.bgc-for-menu ul li:last-child{
  //background-color: red;
  //padding-bottom: 0;
}
.bgc-for-menu{
  padding: 0;
}
.initUser{
  height: 42px !important;
  font-size: 32px !important;
  line-height: 42px;
}
.initUser span{
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #cccccc;
}
