.derd{
  height: 260px;
  //overflow: auto
}
.lh{
  padding-top: 5px;
  margin-top:40px;
  //line-height: revert;
  background-color: lime;
}
.derd canvas{
  height: 240px;
  width: 300px;
  //background-color: red;
  //width: 100%;
}
