<!-- DIRECT CHAT -->
<div class="container pb-5 pt-lg-5">
  <div class="row">
    <div class="col-lg-4 mb-3">
      <div class="card">
        <div class="card-header">
          <h3><span class="fa fa-user-circle-o"></span> Profile</h3>
        </div>
        <div class="card-body">
          <div class="card-title">
            <span class="text-uppercase initUser border p-2">{{initname}}</span>
          </div>
          <div class="list-group">
            <span class="list-group-item">
              <em class="fa fa-user"></em>
              Nom :
              <b>{{ me.name }}</b>
            </span>
            <span class="list-group-item">
              <em class="fa fa-user"></em>
              Postnom :
              <b>{{me.postNom}}</b>
            </span>
            <span class="list-group-item">
              <em class="fa fa-user"></em>
              Prénom :
              <b>{{me.prenom}}</b>
            </span>
            <span class="list-group-item">
              <em class="fa fa-envelope"></em>
              Adresse email :
              <b>{{me.email}}</b>
            </span>
            <span class="list-group-item">
              <em class="fa fa-phone"></em>
              Télephone :
              <b>{{me.numberP}}</b>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="card direct-chat direct-chat-primary">
        <div class="card-header">
          <h3 class="card-title">
            <i class="fa fa-comments"></i>
            Chat directe
          </h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <!-- Conversations are loaded here -->
          <div class="direct-chat-messages">
            <!-- Message. Default to the left -->
            <div class="direct-chat-msg">
              <div class="direct-chat-infos clearfix">
                <span class="direct-chat-name float-left">Testing man</span>
                <span class="direct-chat-timestamp float-right">23 Jan 2:00 pm</span>
              </div>
              <!-- /.direct-chat-infos -->
              <img class="direct-chat-img" src="../../assets/img/donotshare.png"  alt="message user image">
              <!-- /.direct-chat-img -->
              <div class="direct-chat-text">
                Is this template really by David maene ? That's unbelievable!
              </div>
              <!-- /.direct-chat-text -->
            </div>
            <!-- /.direct-chat-msg -->

            <!-- Message to the right -->
            <div class="direct-chat-msg right">
              <div class="direct-chat-infos clearfix">
                <span class="direct-chat-name float-right">Another testing man</span>
                <span class="direct-chat-timestamp float-left">23 Jan 2:05 pm</span>
              </div>
              <!-- /.direct-chat-infos -->
              <img class="direct-chat-img" src="../../assets/img/donotshare.png"  alt="message user image">
              <!-- /.direct-chat-img -->
              <div class="direct-chat-text">
                You better believe it!
              </div>
              <!-- /.direct-chat-text -->
            </div>
            <!-- /.direct-chat-msg -->

            <!-- Message. Default to the left -->
            <div class="direct-chat-msg">
              <div class="direct-chat-infos clearfix">
                <span class="direct-chat-name float-left">Testing man</span>
                <span class="direct-chat-timestamp float-right">23 Jan 5:37 pm</span>
              </div>
              <!-- /.direct-chat-infos -->
              <img class="direct-chat-img" src="../../assets/img/donotshare.png"  alt="message user image">
              <!-- /.direct-chat-img -->
              <div class="direct-chat-text">
                i can't believe it
              </div>
              <!-- /.direct-chat-text -->
            </div>
            <!-- /.direct-chat-msg -->

            <!-- Message to the right -->
            <div class="direct-chat-msg right">
              <div class="direct-chat-infos clearfix">
                <span class="direct-chat-name float-right">Another testing man</span>
                <span class="direct-chat-timestamp float-left">23 Jan 6:10 pm</span>
              </div>
              <!-- /.direct-chat-infos -->
              <img class="direct-chat-img" src="../../assets/img/donotshare.png" alt="message user image">
              <!-- /.direct-chat-img -->
              <div class="direct-chat-text">
                I would love to.
              </div>
              <!-- /.direct-chat-text -->
            </div>
            <!-- /.direct-chat-msg -->

          </div>
          <!--/.direct-chat-messages-->
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
          <form action="#" method="post">
            <div class="input-group">
              <input type="text" name="message" placeholder="Type Message ..." class="form-control col-lg-10">
<!--              <span class="input-group-append">-->
                <button type="button" class="btn btn-default border-0 col-1 ml-2 border">
                  <span class="bx bxs-share"></span>
                </button>
<!--              </span>-->
            </div>
          </form>
        </div>
        <!-- /.card-footer-->
      </div>
    </div>
  </div>
</div>
<!--/.direct-chat -->
